<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PixelSortXPCService</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>1V2T Glitch</string>
			<key>uuid</key>
			<string>D271DD32-D21C-4A0C-86D7-BD01DD3F5E59</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>PixelSortPlugIn</string>
			<key>displayName</key>
			<string>PixelSort::FxPlug Name</string>
			<key>group</key>
			<string>D271DD32-D21C-4A0C-86D7-BD01DD3F5E59</string>
			<key>infoString</key>
			<string>Brightness sorting and seeded text streaks on transparent images.</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>DE7475B8-5F3F-4CFA-AC61-1F55837B6AC7</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>className</key>
			<string>SignalTearPlugIn</string>
			<key>displayName</key>
			<string>Signal Tear</string>
			<key>group</key>
			<string>D271DD32-D21C-4A0C-86D7-BD01DD3F5E59</string>
			<key>infoString</key>
			<string>Seeded horizontal signal tears with transparent edges.</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>F1AC5E11-CA90-4552-A9DD-2AD07FB76E17</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>RGBSplitPlugIn</string>
			<key>displayName</key>
			<string>RGB Split</string>
			<key>group</key>
			<string>D271DD32-D21C-4A0C-86D7-BD01DD3F5E59</string>
			<key>infoString</key>
			<string>Separate RGB channels with alpha-aware color fringes.</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>D8D618BD-E399-40B8-976E-9D5336A1BC2D</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
